body{
  margin:0;
}
.head{
  position: relative;
}
.head-image img{
  width:100%;

}
.toptext1 img{
  width: 60vw;
  height: auto;
  position: absolute;
  top:5vw;
  left:3vw;
}

.toptext2 img{
  position: absolute;
  top:5vw;
  right: 0;
}
.toptext3 img{
  position: absolute;
  top:80%;
  right: 0;
}
.action{
  position: relative;
}

.action1 img{
  width:100%;
  height: auto;
}

.action-flex{
  display: flex;
}

.action-left{
  position: relative;
  width:70%;
  position: absolute;
  top:3vw;
  left:2vw
}
.action2 img{
  width:90%;
  height: auto;
}

.action-right{
  position:absolute;
  right:5vw;
  top:12%;
}
.action5 a:hover{
  opacity:0.7;
}

.question-background{
  font-size: 0;
  line-height: 0;
}
.question-background img{
  width:100%;
  height: auto;
}
.empathy{
  position:relative;
}
.empathytext1 img{
  position: absolute;
  top:3vw;
  left:50%;
  transform:translateX(-50%);
}
.empathytext2 img{
  position: absolute;
  top:13%;
  right:4vw;
}
.empathytext3 img{
width: 100%;
}
.merit-first{
  margin:5vw auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.merit4{
  width:90%;
    margin: 0 auto;
}
.merit4 img{
 width:100%;
}

.merit5{
  text-align: center;
}

.merit5 img{
  margin-top:5vw;
}
.merit-flex{
  margin: 2vw auto;
  display: flex;
  justify-content: space-around;
  width:95%;
}
.merit7,.merit9{
  text-align: center;
  margin-top:4vw;
}

.voice{
}
.voice1 img{
  width: 100%;
  height: auto;
}
.voice2{
  margin-top:4vw;
  text-align: center;
}
.voice-flex1{
  margin:0 auto;
  width:90%;
  display: flex;
  justify-content: space-around;
}

.voice7{
  text-align: center;
  margin-bottom: 5vw;
}

.link{
  font-size: 1vw;
text-align: center;
  width:80%;
margin: 0 auto;
}

.copyright{
  font-size: 1vw;
  text-align: center;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  padding:3vw;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
